* {
    margin: 0px;
    font-family: arial;
    border: border-box;
}

nav {
    background-color: #232F3E;
    color: white;
    height: 100px;
    display: flex;
}

.left-nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-nav {
    width: 50%;
    height: 100%;
}

.logo {
    width: 275px;
    height: 105px;
}

.nav-input {
    height: 55%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-input i {
    position: absolute;
    top: 38%;
    left: 24%;
    color: rgb(32, 32, 32);

}

.nav-input i:hover {
    cursor: pointer;
}

#navbar-input {
    color: gray;
    padding: 9px;
    padding-left: 35px;
    width: 50%;
    font-size: 15px;
    border-radius: 999px;
    outline: none;
}

.nav-buttons-con {
    align-items: center;
    height: 50%;
    gap: 140px;
}

.nav-buttons-con ul {
    gap: 60px;
}

.nav-buttons-con ul li {
    font-size: 16px;
    list-style: none;
}

.nav-buttons-con ul li a     {
    text-decoration: none;
        color:  rgb(197, 187, 187);
    font-weight: bold;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    display: inline-block;
    position: relative;
    transition: transform 0.4s ease;
}
#categories{
    color: white;
       transform: translateY(-2px) scale(1.1);

}
.category-line::after{
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    left: 0;
}
.nav-buttons:hover:after{
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    left: 0;
}
.nav-buttons:hover {
       transform: translateY(-2px) scale(1.1);
    cursor: pointer;
}

.nav-buttons-con ul i {
    color: white;
    transition: color 0.3s ease;

}
.nav-buttons-con ul i{
    margin-top: 5px;
    transition: transform 0.2s ease;

}
.nav-buttons-con ul i:hover {
    cursor: pointer;
    transform: translateY(-2px) scale(1.1);

}
.hero {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero-img {
    background-image: url("assets/category/pexels-sora-shimazaki-5926462.jpg");
    background-size: cover;
    background-position: center 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    width: 80%;
    margin-bottom: 20px;

}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
overflow-x: hidden;
}

.container img {
    width: 90%;
    height: 400px;
    display: block;
}

.offer-1 {
    margin-right: 60px;
    margin-left: 0px;
    border-radius: 15px;
}

.offer-2 {
    margin-left: 150px;
    margin-right: 0px;
    border-radius: 15px;
}

.explore-msg {
    margin-top: 10px;
    background-color: white;
    color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 800;
    width: 100%;
}

.explore-section {
    padding: 30px;
}

.explore-img {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    gap: 10px;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;

}

.explore-img:hover {
    transform: scale(1.05);
}