* {
    margin: 0px;
    font-family: arial;
    border: border-box;
}


.hero {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero-img {
    background-image: url("assets/category/pexels-sora-shimazaki-5926462.jpg");
    background-size: cover;
    background-position: center 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    width: 80%;
    margin-bottom: 20px;

}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
overflow-x: hidden;
}

.container img {
    width: 90%;
    height: 400px;
    display: block;
}

.offer-1 {
    margin-right: 60px;
    margin-left: 0px;
    border-radius: 15px;
}

.offer-2 {
    margin-left: 150px;
    margin-right: 0px;
    border-radius: 15px;
}

.explore-msg {
    margin-top: 10px;
    background-color: white;
    color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 800;
    width: 100%;
}

.explore-section {
    padding: 30px;
}

.explore-img {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    gap: 10px;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;

}

.explore-img:hover {
    transform: scale(1.05);
}