* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Hero Section */
.hero img{
    width: 100%;
    height: 80vh; /* Specific height */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: zoomIn 20s infinite alternate;
}

 
/* Animations */
@keyframes zoomIn {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

body {
    overflow-x: hidden;
  background: #0f172a;
  color: white;
}

.gallery-section {
  max-width: 1600px;
  margin: 0 auto;
}

.gallery-section .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: white;
    color: #0f172a;
    margin: 30px;

}
.text h1{
    margin: 0px;
  font-weight: 1000;
  font-style: bold;
 text-align: center;
}
.collection {
  margin-bottom: 40px;
}

.collection h2 {
  margin-bottom: 15px;
  font-size: 40px;
  color: #cbd5f5;
}

/* Image Grid */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 17px;
}

.gallery img {
  width: 100%;
  height: 280px;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.gallery.per img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}


/* Hover Animation */
.gallery img:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #94a3b8;
}
