


body {

    margin: 0;
padding: 0;
background-color: #ffffff;
color: #111;
}


.logo {
text-align: center;
margin-top: 0px;
margin-bottom: 10px;
background-color: #232f3e;
padding-top: 10px;
padding: 10px;

}


.logo img {
width: 200px;
}


.container {
width: 300px;
margin: 0 auto;
border: 1px solid #ddd;
border-radius: 4px;
padding: 20px 20px;

#text{
    width: 100%;
    margin-bottom: 10px;
}
div.line{
    height: 1px;
    width: 100%;
    margin: 30px 0;
    background-color: #ddd;
}
div.info{
    padding-top: 20px;
}
}


h1 {
font-weight: 400;
font-size: 28px;
margin-bottom: 15px;
}


label {
font-size: 15px;
font-weight: 700;
display: block;
margin-bottom: 5px;
}


input[type="text"]{
width: 100%;
height: 31px;
padding: 3px 3px;
border: 1px solid #a6a6a6;
border-radius: 3px;
margin-bottom: 14px;
outline: none;
}


input:focus {
border-color: #e77600;
box-shadow: 0 0 3px rgba(228,121,17,.5);
}
div.divider{
    padding-bottom: 10px;
}

.btn {
width: 100%;
height: 31px;
background: linear-gradient(#232f3e, #20334a);
border: 1px solid #232f3e;
border-radius: 3px;
cursor: pointer;
font-size: 13px;
color: white;
}
.end-line{
    height: 1px;
    width: 100%;
    margin: 30px;
    background-color: #ddd;
}
.footer{
    text-align: center;
    margin: 0px ;
    padding: 10px ;
}