*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #F5F5F5;
}
nav{
    background-color: white;
    height: 125px;
    display: flex;
}
.flex{
    display: flex;
}
.btn{
    cursor: pointer;
    transition: font-size 0.3s ease;

}
.btn:hover{
    font-weight: bold;
}
.left-nav{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-nav{
    width: 50%;
    height: 100%;
}
.logo{
     width: 275px;
    height: 105px;
}
.nav-input{
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-input i{
   position: absolute;
        top: 39%;
        left: 32%;
        color: rgb(32, 32, 32);
    
}
.nav-input i:hover{
    cursor: pointer;
}
#navbar-input{
    color: gray;
    padding: 9px;
    padding-left: 35px;
    width: 40%;
    font-size: 15px;
   border-radius: 999px;
   outline: none;
}
.nav-buttons{
    align-items: center;
    height: 50%;
    gap: 140px;
}
.nav-buttons ul{
    gap: 60px;
}

.nav-buttons ul li{
    font-size: 15px;
    list-style: none;    
}
.nav-buttons ul li a{
    text-decoration: none;
     color: rgb(62, 56, 56);
     font-weight: bold;
     padding: 3px;      
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, font-size 0.2s ease;
}
.nav-buttons ul li a:hover{
    cursor: pointer;
    font-size: 16px;
    color: #145e9d;
}

.nav-buttons ul i{
    color: #145e9d;
}
.nav-buttons ul i:hover{
    cursor: pointer;
    color: #0f497b;
}
/*MAIN*/
main{
    height: 35vh;
}


/* FOOTER */

.feedback{
    background-color: #E0E0E0;
    font-size: 15px;
    height: 130px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.feedback button{
    font-weight: bold;
    font-size: 13px;
    background-color: rgb(246, 213, 152);
    width: 175px;
    height: 45px;
    border-radius: 999px;
}
.feedback button:hover{
    font-size: 15px;
}
.main-footer{
    background-color: rgb(43,56,80);
    height: 200px;
    padding-top: 10px;
}
.footer-upper-container{
    width: 1075px;
    color: gray;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: end;
    gap: 5px;
}
.footer-social-media{
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100px;
    height: 30px;
    background-image: url("assets/footer/social.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-lower{
    margin-top: 25px;
}
.footer-lower-container{
    margin-top: 20px;
    width: 1075px;
    color: gray;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.footer-cards{
    position: relative;
    left: 103px;
    width: 125px;
    height: 40px;
    background-image: url("assets/footer/cards.png");
    background-position: 50% 50%;
    background-size: 150%;
    background-repeat: no-repeat;
}
.main-footer ul{
    font-size: 14px;
}
.main-footer ul li{
    list-style: none;
}
#footer-input{
    padding: 2px;
    padding-left: 5px;
    width: 220px;
    outline: none;
}
#footer-btn{
    grid-column: 4/5;
    grid-row: 2/3;
    font-size: 12px;
    color: rgb(43,56,80);
    width: 65px;
    padding: 2px;
    border: none;
    border-radius: 999px;
    font-weight: bold;
    position: relative;
    left: 154px;
}
.copyright{
    height: 30px;
    background-color: #145e9d;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 100px;
}